.sidebar-name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sb-port-item-name-wrap {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 1rem 0.7rem;
}

.sb-port-item-wrap {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}

.sb-prt-data-wrap {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row; */
}

.sidebar-wrapper {
    margin-top: 1rem;
    padding-top: 2rem;
    width: 100% !important;
    border-radius: 0.5rem;
    border: 1px solid gray;
}
