

/* #tradingview_8a9e7-wrapper */


.userpage-container {
    /* overflow-y: scroll; */
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}

.wrapper-userpage-chart-trade {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.userpage-chart-trade-card {
    display: flex;
    gap: 1rem;
    height: 100%;
    padding-top: 3rem;
    justify-content: space-between;
    width: 100%;
}


.btn-list-crud {
    background-color: #EFEFEF;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
}

article {
    padding: 0 !important;
    margin: 0 !important;
    width: max-content !important;
}

#tradingview_2da16-wrapper > div {
    width: 700px;
}

#tradingview_2da16-wrapper {
    width: 700px !important;
}

.tradingview-chart-container {
    /* padding-left: 50rem; */
    /* width: 200rem !important; */
    height: 64rem;
    width: 100%;
}
/*
.tradingview-chart-container > article > div > div {
    width: 51vw !important;
} */


.sb-select-with-content-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border: 1px solid #D9DADB;
    border-radius: 0.3rem;
    height: 64rem;
    /* height: 61rem; */
    /* height: 150vh; */
    overflow: hidden;
    padding-top: 1.5rem;
    scrollbar-gutter: stable;
    /* gap: 1rem; */
}

.sb-select-with-content-wrapper:hover {
    overflow-y: auto;
}

.sb-wl-slct-crud-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.sb-select-with-content-wrapper select {
    width: 60%;
    text-align: center;
    margin-top: 1rem;
}

.sb-select-with-content-wrapper select option {
    padding: 2rem;
}

.create-crud-btn-wrap {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
