.btn-reg-clear {
    margin: 1rem;
    color: #436EF0;
    border: none;
    background-color: white;
    cursor: pointer;
}

.sb-ports-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
    margin-top: 3rem;
    width: 21%;
    border: 1px solid #D9DADB;
    border-radius: 0.3rem;
    height: 64rem;
    overflow: hidden;
    scrollbar-gutter: stable;
    /* direction: rtl; */
    padding-left: 1.5rem;
}

.sb-wl-slct-crud-wrap {
    align-items: center;
}

.sb-ports-wrapper select {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.sb-ports-wrapper:hover {
    overflow-y: auto;
}

.sb-ports-wrapper h2 {
    margin-top: 1.5rem;
}
