.btn-reg-clear {
    margin: 1rem;
    color: #436EF0;
    border: none;
    background-color: white;
    cursor: pointer;
}

.sb-ports-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 3rem;
    width: 25rem;
}

.sb-wl-slct-crud-wrap {
    align-items: center;
}

.sb-ports-wrapper select {
    width: 100%;
    text-align: center;
}
